<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>ML MODEL</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h1 class="text-center mb-4">Covid-19 Severity Prediction</h1>
            <!-- Main Input For Receiving Query to our ML -->
            <form action="{{ url_for('predict')}}" method="post">
              <div class="form-group">
                <input type="text" class="form-control" name="MCHC" placeholder="MCHC" required="required">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Mean corpuscular hemoglobin (MCH)" placeholder="MCH" required="required">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Eosinophils" placeholder="Eosinophils" required="required">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Red blood cell distribution width (RDW)" placeholder="RDW" required="required">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="Proteina C reativa mg/dL" placeholder="Proteina C reativa mg/dL" required="required">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Predict</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{prediction_text}}
</body>

</html>
